
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.actsiya {
    background-color: black;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.actsiya p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    
    
    
    color: #FFFFFF;    
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("./images/Rectangle\ \(5\).svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
    
    
    
}
.superheader {
    width: 100%;
    display: flex;
    
    height: 30%;
    justify-content: space-around;
}
.superheader div {
    display: flex;
    width: 29%;
    justify-content: space-around;
    margin-top: 2%;
}
.superheader img {
    margin-top: 2%;
    width: 120px;
    height: 160px;
}
.superheader h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    text-transform: uppercase;
    
    color: #000000;    
}
header h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 78px;
    line-height: 94px;
    /* identical to box height, or 110% */
    text-align: center;
    
    color: #000000;
    
}
.languageChange {
    position: absolute;
    right: 2%;
    top: 10.6%;
    background-color: transparent;
    border: 0;
    font-family: 'Roboto';
    
    
    color: #000000;   
}
.tastethewild {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tastethewild h2{
 width: 100%;
 margin: 0 auto;
}

.scroll {
    background-color: #000000;
    padding: 25px;
    border-radius: 100%;
    border: 0;

    width: 79px;
    height: 79px;

    align-self: center;
    
    
    
}
/* header zakonchen */

main {
    background-color: #ED7B49;
}
.wildlyloved {
    width: 65%;
    margin: 0 auto;
    display: flex;
    
    text-align: left;
    padding-top: 70px;
    
}
.wildlyloved div {
    margin: auto 0;
    margin-left: 75px;
}
.wildlyloved h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 94px;
    /* identical to box height, or 110% */
    
    
    color: #000000;    
}
.wildlyloved h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #000000;   
}
/* first part done */
.slideshowContainer {
    width: 100%;
    
}


.slideshow {
    margin-top: 100px;
    display: flex;
    width: 100%;
    overflow: hide;
    position: relative;
    animation: scrollForFirst 10s linear infinite;
}
.slideshow div {
    width: 30%;
     margin-left: 90px; /* if there is an error come here */
     
     
}
@keyframes scrollForFirst {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-450px * 4 ));
    }
}
.slideshow:hover {
    animation-play-state: paused;
    scroll-behavior: smooth;
}
.slideshow div:nth-child(1) img {
    background-color: #72A080;
    border-radius: 245px;
    margin-top: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}
.slideshow div:nth-child(2) img {
    background-color: #A95D50;
    border-radius: 245px;
    
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}
.slideshow div:nth-child(3) img {
    background-color: #ABAFD6;
    border-radius: 245px;
    margin-top: 40%;
    
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}
.slideshow div:nth-child(4) img {
    background-color: #FECF6B;
    border-radius: 245px;
    
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}
.slideshow div:nth-child(5) img {
    background-color: #72A080;
    border-radius: 245px;
    margin-top: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}
.slideshow div:nth-child(6) img {
    background-color: #A95D50;
    border-radius: 245px;
    
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}
.slideshow div:nth-child(7) img {
    background-color: #ABAFD6;
    border-radius: 245px;
    margin-top: 40%;
    
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}
.slideshow div:nth-child(8) img {
    background-color: #FECF6B;
    border-radius: 245px;
    
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}

.slideshow p {
    position: relative;
    top: -90px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    /* or 117% */
    
    
    color: #000000;   
}
.slideshow h3 {
    position: relative;
    top: -90px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    /* identical to box height, or 150% */
    
    
    color: #000000;   
}

.Buy {
    position: relative;
    top: -80px;
    right: -10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */
    
    
    text-transform: uppercase;
    
    color: #000000;   
}
.slideshow div:nth-child(1) button {
    text-decoration: none;
    background-color: #72A080;
    padding: 8px 45px;
    border-radius: 27px;
    border: none;

}
.slideshow div:nth-child(2) button {
    text-decoration: none;
    background-color: #A95D50;
    padding: 8px 45px;
    border-radius: 27px;
    border: none;
}
.slideshow div:nth-child(3) button {
    text-decoration: none;
    background-color: #ABAFD6;
    padding: 8px 45px;
    border-radius: 27px;
    border: none;
}
.slideshow div:nth-child(4) button {
    text-decoration: none;
    background-color: #FECF6B;
    padding: 8px 45px;
    border-radius: 27px;
    border: none;
}
.slideshow div:nth-child(5) button {
    text-decoration: none;
    background-color: #72A080;
    padding: 8px 45px;
    border-radius: 27px;
    border: none;

}
.slideshow div:nth-child(6) button {
    text-decoration: none;
    background-color: #A95D50;
    padding: 8px 45px;
    border-radius: 27px;
    border: none;
}
.slideshow div:nth-child(7) button {
    text-decoration: none;
    background-color: #ABAFD6;
    padding: 8px 45px;
    border-radius: 27px;
    border: none;
}
.slideshow div:nth-child(8) button {
    text-decoration: none;
    background-color: #FECF6B;
    padding: 8px 45px;
    border-radius: 27px;
    border: none;
}
#prevBtn {
    position: absolute;
    left: 50px;
    top: 1500px;
    text-decoration: none;
    border-radius: 100%;
    border: none;
    padding: 25px 30px;
    color: white;
    background-color: #000000;
    /* opacity: 50%; */
    cursor: pointer;
}
#nextBtn {
    position: absolute;
    right: 50px;
    top: 1500px;
    text-decoration: none;
    border-radius: 100%;
    border: none;
    padding: 25px 30px;
    color: white;
    background-color: #000000;
    /* opacity: 50%; */
    cursor: pointer;
}
/* done */

#pic1{
    position: absolute;
    right: 15%;
    top: 2250px;
    width: 540px;
}
#pic2{
    position: absolute;
    right: 5%;
    top: 2250px;
}
#pic3{
    position: absolute;
    right: 15%;
    top: 2250px;
}
.containerWildWay {
    width: 90%;
    margin: 0 auto;
    margin-top: 300px;
}
.containerWildWay h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 94px;
    /* identical to box height, or 110% */
    
    
    color: #000000;   
}
.containerWildWay p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #000000;  
}
.containerWildWay button {
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 100px;
    padding: 7px 50px;
    background-color: #000000;
    margin-top: 30px;
}
/* done  */
.wildnut {
    
    /* width: 80%;
    margin: 0 auto; */
    margin-top: 800px;
    
    display: flex;
    justify-content: space-between
    
}

hr {
    height: 2px;
    background-color: black;
    border: none;
    width: 350px;
}
#Nut{
    width: 60%;
    background-color: #A95D50;
    border-radius: 0 200px 0 0;
    padding: 100px 60px;
    display: flex;
    justify-content: space-between;
    
}
#Nut div {
    width: 50%;
}
a {
    text-decoration: none;
}
#fingers {
    
    right: -77%;
    bottom: 340px;
    z-index: 2;
    position: relative;
}
#oreh {
    
    z-index: 3;
    position: relative;
}

#sale {
    display: flex;
    flex-direction: column  ;
    justify-content: space-between;
}
.wildnut h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 94px;
    /* or 110% */
    
    
    
    color: #000000;  
}
#list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 150px;
    
}
.wildnut h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    /* or 120% */
    
    
    color: #000000;  
}
.wildnut p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #000000; 
}
.wildnut h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    /* identical to box height, or 150% */

    
    color: #000000;   
}
.wildnut h4 {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 32px;
/* or 150% */
width: 50%;

text-transform: uppercase;

color: #000000;
}
.wildnut button {
    text-decoration: none;
    border: none;
    color: #FFFFFF;
    background-color: black;
    border-radius: 100px;
    padding: 12px 70px;
    margin-top: 50px;
}
#list div span:nth-child(2) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0px;
    /* identical to box height, or 0% */
    
    position: relative;
    top: -50%;
    color: #000000;   
}
#list div span:nth-child(1) {
    
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 50px;
/* identical to box height, or 120% */


color: #000000;
}


/* done  */


.soulWords {
    background-color: #E9A8C6;
    height: 600px;
    display: flex;
    justify-content: center;
}
.containerSoulWords {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    height: 30%;
    margin: auto 0;
}
.containerSoulWords div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 60%;
    width: 30%;
}
.containerSoulWords div img {
    width: 93px;
    
}
#pictures {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
}
#pictures img {
    width: 10px;
    height: 10px;
    margin: 0 10px;
}
/* text  */
.containerSoulWords h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;  
}
.containerSoulWords p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    text-align: center;
    
    color: #000000;   
}
.containerSoulWords h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    /* or 120% */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;
    width:   22%;
    margin: 0 70px;
    
}
/* done  */
.conceptStoreActual {
    background-color: #F5AFB9;
    
}
.conceptStore {
    width: 90%;
    margin: 0 auto;
    
    padding-top: 500px;
    padding-bottom: 500px;
    display: flex;
    justify-content: space-between;
    
}
#pic4 {
    /* position: relative;
    right: 52.5%;
    bottom: 75%; */
    z-index: 3;
    position: absolute;
    right: 15%;
    top: 5300px;
    /* width: 486px;     */
    
}
#pic5 {
    /* position: relative;
    right: 40%;
    bottom: 45%; */
    z-index: 1;
    position: absolute;
    right: 2.5%;
    top: 5200px;

}
#pic6 {
    /* position: relative;
    right: 100%;
    bottom: 10%; */
    z-index: 2;
    position: absolute;
    right: 20%;
    top: 5200px;
    
    
}
#pic7 {
    position: absolute;
    left: 17.5%;
    top: 5000px;
    width: 282px;
    height: 282px;
}
.conceptStore div {
    width: 30%;
}
/* text  */
.conceptStore button {
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 100px;
    padding: 7px 50px;
    background-color: #000000;
    margin-top: 30px;
}
.conceptStore h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 94px;
    /* identical to box height, or 110% */
    
    
    color: #000000;   
}
.conceptStore p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #000000;  
}


.wildHalva {
    display: flex;
    background-color:#F5AFB9;
}
.halva {
    width: 50%;
    background-color: #ABAFD6;
    border-radius: 0 200px 0 0;
    height: 750px;
    
}
.containerHalva {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 100px 0;
    flex-direction: column;
    justify-content: space-between; 
}
.subheadingHalva {
    display: flex;
    justify-content: space-between;
}
.subheadingHalvaText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}



/* text  */
.halva button {
    text-decoration: none;
    border: none;
    color: #FFFFFF;
    background-color: black;
    border-radius: 100px;
    padding: 12px 70px;
    margin-top: 50px;
}
.halva h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 94px;
    /* identical to box height, or 110% */
    
    
    color: #000000;   
}
.halva h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    /* or 120% */
    
    
    color: #000000;  
}
.halva p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #000000; 
}
.halva h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    /* identical to box height, or 150% */
    
    
    color: #000000;   
}




/* first half  */
.spreadLove {
    width: 30%;
    margin-left: 50px;
    background-color: #EC4844;
    padding: 50px;
    padding-bottom: 0px;
    height: 750px;
}
.spreadLove img {
    width: 147px;
    height: 327px;
}
.containerSpreadLove {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.spreadLove button {
    text-decoration: none;
    border: none;
    color: #FFFFFF;
    background-color: black;
    border-radius: 100px;
    padding: 12px 70px;
    margin-top: 50px;
}






/* text  */
.spreadLove h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    /* or 120% */
    
    text-align: center;
    
    color: #000000;   
}
/* done  */
.conceptStore2Actual {
    background-color: #F5AFB9;
    
}
.conceptStore2 {
    width: 90%;
    margin: 0 auto;
    
    padding-top: 500px;
    padding-bottom: 500px;
    display: flex;
    justify-content: space-between;
    
}
#pic10 {
    /* position: relative;
    right: 52.5%;
    bottom: 75%; */
    z-index: 3;
    position: absolute;
    right: 15%;
    top: 7500px;
    /* width: 486px;     */
    
}
#pic9 {
    /* position: relative;
    right: 40%;
    bottom: 45%; */
    z-index: 1;
    position: absolute;
    right: 2.5%;
    top: 7400px;

}
#pic8 {
    /* position: relative;
    right: 100%;
    bottom: 10%; */
    z-index: 2;
    position: absolute;
    right: 20%;
    top: 7400px;
    
    
}
#pic11 {
    position: absolute;
    left: 17.5%;
    top: 7300px;
    width: 282px;
    height: 282px;
}
.conceptStore2 div {
    width: 30%;
}
/* text  */
.conceptStore2 button {
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 100px;
    padding: 7px 50px;
    background-color: #000000;
    margin-top: 30px;
}
.conceptStore2 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 94px;
    /* identical to box height, or 110% */
    
    
    color: #000000;   
}
.conceptStore2 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    color: #000000;  
}
/* done  */
.slideshow2Container {
    background-color: #F5AFB9;
    padding-top: 200px;
    padding-bottom: 500px;
}
.outsideSlideshow2 {
    display: flex;
    width: 100%;
    height: 80%;
    margin-top: 200px;
    padding-bottom: 400px;
    
}
.slideshow2 {
    display: flex;
    width: 100%;
    position: absolute;
    animation: marquee 6s linear infinite;
}

.slideshow2 img{
    width: 450px;
    height: 450px;
}
@keyframes marquee {
    0% { left: 0; }
    100% { left: -123%; }
}



.slide {
    display: flex;
    /* justify-content: space-around; */
    
}

.slide div {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.slide div:nth-child(even) {
    margin-top: 50px;
}
.slideshow2:hover {
    animation-play-state: paused;
    scroll-behavior: smooth;
}
.slideshow2 h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    /* or 120% */
    margin-top: 20px;
    
    color: #000000;  
}
.slideshow2 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    text-transform: uppercase;
    margin-top: 30px;
    color: #000000; 
}
/* .slide div:nth-child(2), div:nth-child(4) {
    margin-top: 50px;
} */



.wildrecipes {
    width: 32%;
    margin-left: 50%;
    
}

.wildrecipes p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    margin-top: 20px;
    
    
    color: #000000;
}
.wildrecipes h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 94px;
    /* identical to box height, or 110% */
    
    
    color: #000000;
     
}

footer {
    background-color: #BE5A4B;
    
    
}
.footerContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.footerHeading {
    width: 100%;
    text-align: center;
    margin: 100px 0;
}

.footerLeftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    height: 60vh ;
}
.email hr {
    width: 110%;
    margin-top: 5px;
}
#email {
    margin-top: 50px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #000000;
    width: 110%;
}
#email::placeholder {
    color: black;
}
.followUs img {
    margin-top: 20px;
    margin-right: 10px;
}
.followUs h3{
    margin-top: 10px;
}

.footerLeftSide h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 94px;
    /* identical to box height, or 110% */
    
    
    color: #000000;  
}
.footerLeftSide h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height, or 120% */
    
    
    color: #000000; 
}
.footerLeftSide h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #000000;
}
.footerLeftSide h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    
    color: #000000;
}
.footerRightSide {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
}
.list {
    width: 40%;
}
.list h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height, or 120% */
    
    /* margin-top: 40px; */
    color: #000000; 
}
.list p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    text-transform: uppercase;
    margin-top: 20px;
    color: #000000;
       
}
#contacts {
    margin-top: 90px;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 6 ));
    }
}
.carousel {
    height: 150px;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-top: 100px;
    
}
.slide-track {
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slide-track img {
    height: 100px;
    width: 250px;
}
.hide {
    display: none;
}
#burger {
    width: 20px;
    height: 24px;
}
@media (max-width: 576px) {
    .superheader div {
        display: none;
    }
    #burger {
        display: block;
        position: absolute;
        top: 3%;
        right: 3%;
    }
    .superheader {
        display: flex;
        
    }
    .languageChange {
        position: absolute;
        top: 3%;
        margin-top: 3%;
        right: 10%;
    }
    .wildlyloved {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
    .wildlyloved div{
       margin-left: 0;
       margin-top: 35px;
       text-align: center;
    }
    
    #pic1 {
        top: 0;
    }
    #pic2 {
        top: 0;
    }
    #pic3 {
        top: 0;
    }
    #pic4 {
        top: 0;
    }
    #pic5 {
        top: 0;
    }
    #pic6 {
        top: 0;
    }
    #pic7 {
        top: 0;
    }
    #pic8 {
        top: 0;
    }
    #pic9 {
        top: 0;
    }
    #pic10 {
        top: 0;
    }
    #pic11 {
        top: 0;
    }
    .slideshow div {

        width: 100%;

        align-self: center;
    }
    .slideshow div:nth-child(odd) img {
        margin-top: 0;
    }
}